<div class="container-fluid mt-4">
  <p-toolbar styleClass="mb-4">
    <ng-template pTemplate="left">
      <div class="flex align-items-center gap-2">
        <input
          pInputText
          type="number"
          min="0"
          [(ngModel)]="searchQuestionId"
          placeholder="Buscar por pregunta ID"
          style="width: 180px;"
        />
        <button
          pButton
          label="Buscar"
          icon="pi pi-search"
          class="p-button-secondary"
          (click)="goToQuestionAnswers()"
          [disabled]="!searchQuestionId"
        ></button>
      </div>
    </ng-template>
  </p-toolbar>
  <p-table
    #dt
    [value]="answers"
    [columns]="cols"
    [paginator]="true"
    [globalFilterFields]="['answerId', 'questionId', 'studentId', 'studentName', 'answer', 'isCorrect']"
    [rows]="10"
  >
    <ng-template pTemplate="caption">
      <div class="flex items-center justify-between">
        <h5 class="m-0">All Answers</h5>
        <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Buscar..." />
      </div>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns" pSortableColumn="{{ col.field }}">
          {{ col.header }}
          <p-sortIcon field="{{ col.field }}"></p-sortIcon>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-answer let-columns="columns">
      <tr>
        <td *ngFor="let col of columns">
          <ng-container [ngSwitch]="col.field">
            <span *ngSwitchCase="'isCorrect'">
              <span [ngClass]="answer.isCorrect ? 'text-success' : 'text-danger'">
                {{ answer.isCorrect ? 'Correct' : 'Incorrect' }}
              </span>
            </span>
            <span *ngSwitchDefault>
              {{ answer[col.field] }}
            </span>
          </ng-container>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="6" class="text-center">No answers found.</td>
      </tr>
    </ng-template>
  </p-table>
</div>
